/* MP1 Legacy Modules */
/* General Sections */

.banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;

    /* background-image: url("../assets/background.jpeg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
}

.bannerlogo {
    height: 400px;
}


.page {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
}

/* Containers */
.sectionh { 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2%;
    width:100%;
}

.sectionv { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 2%;
    width:100%;
}
